.surahs{
    width: 100%;
}
.surah{
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    margin-top: 50px;
    background: #98bd9df0;
    padding: 30px;
    border-radius: 10px;
    gap: 0px;
    cursor: pointer;
    color: #1A3636;
    font-size: 26px;
    transition: 0.3s ease-in-out;
    width: 100%;
}
.surah:hover{
    background: #deebe0f0;
}
@media screen and (max-width : 750px){
    .surah{
        font-size: 18px;
    }
}